name: Backend CI/CD Pipeline

on:
  push:
    branches:
      - main

jobs:
  backend:
    runs-on: windows-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 22.12.0

      - name: Install backend dependencies
        run: npm install

      - name: Start backend server and run tests
        run: |
          npx concurrently "npm start" "npx wait-on http://localhost:${{ secrets.PORT }} && npm test"
        env:
          MONGO_URI: ${{ secrets.MONGO_URI }}
          JWT_SECRET: ${{ secrets.JWT_SECRET }}
          PORT: ${{ secrets.PORT }}
